body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app-wrapper {
    height: 100%;
    display: grid;
    grid-template: auto / 150px 1fr;
    grid-template-areas: 'header header' 'nav main' 'footer footer';
  /* grid-gap: 10px; */
    
}

.main_conent {
        grid-area: main;
        display: grid;
        background: rgb(41,41,41);
        background: linear-gradient(90deg, rgba(41,41,41,1) 0%, rgba(255,255,255,1) 0%, rgba(105,105,105,1) 0%, rgba(15,15,15,1) 100%); 
}



